// C O L O R S
$theme-color-1: #4b2425;
$theme-color-2: #633333;
$theme-color-3: #542a2b;
$theme-color-4: #351b1c;

$theme-color-green-1: #50652d;

$theme-color-white: #ffffff;

$white: #ffffff;
$white-1: #f8f8f8;
$Lgray: #d3d3d3;

$black-0: #000;
$black: #121210;
$black-1: #181818;

$pink: #e0bfc6;
$a-accent: #dc3545;
$a-error: #c2185b;

// T R A N S I T I O N S
$transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
$transition-2: .3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slider: .3s cubic-bezier(0.4, 0, 0.2, 1);
$motion: 
    2s cubic-bezier(0.075, 0.82, 0.165, 1) opacity,
    2s cubic-bezier(0.075, 0.82, 0.165, 1) transform;

// O T H E R S
$navbar-height: 80px; // size from unvisible space ,because theres fixed navbar
$padding-top-content: 94px; // size from unvisible space ,because theres fixed navbar