#single.blog {
    .section-2 {
        .container {
            .row {
                width: auto;
                justify-content: center;
                margin: 0 -15px;
                .column {
                    padding: 15px;
                }
            }
        }
    }
}