#footer {
    position: relative;
    padding: 12px 0;
    font-family: "OpenSans";
    font-size: 14px;
    letter-spacing: .6px;
    clear: both;
    color: $white;
    background: $black;
    .container {
        .footer {
            width: 100%;
            margin: 24px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .footer1{
            flex-direction: row-reverse;
            .social-media {
                a {
                    &::after{
                        content: '-';
                        padding: 0 5px;
                    }
                    &:nth-last-child(1)::after {
                        content: '';
                    }
                    &:nth-child(1) {
                        margin-left: 10px;
                    }
                    span {
                        text-decoration: underline;
                    }
                }
            }
            .back2top{
                cursor: pointer;
                text-decoration: underline;
            }
            @include media-breakpoint-down(sm){
                display: block;
                text-align: center;
                div:nth-child(1) {
                    padding-bottom: 40px;
                }
            }
        }
        .contact{
            justify-content: flex-start;
            div {
                a {
                    text-decoration: underline;
                }
                &::after {
                    content: "-";
                    padding: 0 5px;
                }
                &:nth-last-child(1)::after {
                    content: none;
                }
            }
            @include media-breakpoint-down(sm){
                display: block;
                text-align: center;
                div::after {
                    content: none;
                }
            }
        }
        .footer2 {
            font-size: 13px;
            @include media-breakpoint-down(sm){
                display: block;
            }
            .left {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                a, span {
                    &::after {
                        content: "-";
                        padding: 0 5px;
                    }
                }
                
                & div:nth-child(1) *:nth-last-of-type(1)::after {
                    content: none;
                }
                
                & > div{
                    display: flex;
                    align-items: center;
                }
                @include media-breakpoint-down(sm){
                    & {
                        display: block;
                        & div *:nth-last-of-type(1)::after {
                            content: none;
                        }
                        div.nav {
                            padding-bottom: 24px;
                        }
                    }
                    div {
                        display: block;
                        text-align: center;
                    }
                }
            }
            .right {
                @include media-breakpoint-down(sm){
                    text-align: center;
                }
            }
        }
    }
}
                        
