/* Navigation */
.navbar {
    padding: 0px;
    display: flex;
    align-items: center;
    font-family: 'opensans';
    transition: $transition-2;
    color: $white;

    & > .container.bottom {
        @include media-breakpoint-down(lg){
            // Override `navbar-expand-xx > container`
            padding-left: 15px;
            padding-right: 15px;
        }
        .left-side {
            height: 80px;
            display: flex;
            align-items: center;
        }
    
        .navbar-toggler {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: $white;
            &:hover,&:focus {
                background: mix($white, transparent, 10);
            }
        }

        /* All the Menu list */
        .right-side {
            justify-content: flex-end;
            ul.navbar-nav {
                @include media-breakpoint-down(lg){
                    padding-bottom: 20px;
                }
                li {
                    a {
                        position: relative;
                        @include normalize-a();
                        width: fit-content;
                        display: block;
                        margin: 0 16px;
                        padding: 6px 0;
                        transition: opacity $transition-2;
                        font-size: 14px;
                        opacity: .4;
                        border-radius: 50px;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 0px;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            transition: width $transition;
                            border-radius: 5px;
                            background: $white;
                        }
                        &:hover,&:focus {
                            opacity: 1;
                        }
                    }
                    &.active > a {
                        opacity: 1;
                        &::after {
                            width: 20px;
                        }
                    }
                }
            }
            ul.dropdown-menu {
                padding: 0;
                overflow: hidden;
                li {
                    a{
                        @include normalize-a();
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    // White Mode
    &.white {
        color: $black;
        background: $white;
        
        .container.bottom .navbar-toggler {
            color: $black;
        }

        .container.bottom .right-side ul.navbar-nav li a {
            color: $black;
            &::after {
                background: $black;
            }
        }
    }
    
    // Hidden Nav
    @include media-breakpoint-down(lg){
        .container.bottom .right-side ul.navbar-nav {
            width: fit-content;
            margin-right: 0;
            margin-left: auto;
            background: $white;
            li a {
                color: $black;
                &::after {
                    background: $black;
                }
            }
        }
    }

} /* END : Navigation*/

#wpadminbar {
    display: none;
}