#homepage {
    $border-size: 3px;
    .section {
        position: relative;
        padding: 140px 0;
        overflow: hidden;
        .side-title {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            align-items: center;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            transform: rotateX(180deg) rotateY(-180deg);
            font-style: italic;
            * {
                margin: 0;
                flex-shrink: 0;
                // font-weight: bold;
            }
            &::after {
                content: "";
                position: relative;
                width: $border-size;
                height: 100%;
                height: -moz-available;
                height: -webkit-fill-available;
                height: stretch;
                margin-top: 20px;
                margin-right: 6px;
                background: $black;
            }
        }
        .side-title.vertical {
            position: relative;
            height: fit-content;
            writing-mode: horizontal-tb;
            transform: rotateX(0deg) rotateY(0deg);
            &::after {content: none;}
            &::before {
                content: "";
                position: relative;
                height: $border-size;
                width: 100px;
                margin: 0 40px;
                background: $black;
            }
        }
        .arrow {
            position: absolute;
            height: 80px;
            width: 80px;
            bottom: 0px;
            left: 50%;
            cursor: pointer;
            transform: translate(-50%,50%);
            border-radius: 50%;
            //background: url("src/img/chevron.png") no-repeat center / contain;
            background: $white-1;
            &::after, &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 2px;
                top: calc(25% + 6px);
                left: calc(50%);
                transform: rotate(-45deg);
                transform-origin: 0 50%;
                background: $black-1;
            }
            &::before {
                left: auto;
                right: calc(50%);
                transform: rotate(45deg);
                transform-origin: 100% 50%;
            }
        }
        .arrow.first {
            bottom: 20px;
            transform: translateX(-50%);
            background: transparent;
            &::after, &::before {
                width: 40px;
                top: calc(50% + 14px);
                left: calc(50%);
                background: $white;
            }
            &::before {
                left: auto;
                right: calc(50%);
            }
            @include media-breakpoint-down(xs){
                height: 50px;
                width: 50px;
                &::after, &::before {
                    width: 20px;
                }
            }
        }
    }
    .section-1 {
        min-height: 100vh;
        display: flex;
        padding: 100px 0;
        align-items: center;
        overflow: hidden;
        color: $white;
        background: $black;
        .bg-jumbo-text {
            word-break: keep-all;
            white-space: nowrap;
            font-size: 55vh;
        }
        .container {
            position: relative;
            height: fit-content;
            .wrapper {
                display: flex;
                .left, .right {
                    position: relative;
                }
                .left {
                    display: flex;
                    align-items: center;
                    @include media-breakpoint-down(lg){
                        margin-bottom: 40px;
                    }
                    img {
                        height: 100px;
                        flex-shrink: 0;
                        @include media-breakpoint-down(md){
                            height: 80px;
                        }
                    }
                    &::after {
                        content: "";
                        position: relative;
                        height: $border-size;
                        width: 100%;
                        width: -moz-available;
                        width: -webkit-fill-available;
                        width: stretch;
                        margin: 0 40px;
                        background: $white;
                    }
                }
                .right {
                    .title {
                        line-height: 1;
                    }
                    .content {
                        line-height: 2;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .section-2 {
        .top {
            position: absolute;
            top: 70px;
            left: calc(50% + 80px);
            @include animation-init();
        }
        .bottom {
            position: absolute;
            bottom: -70px;
            left: 100px;
            @include media-breakpoint-down(xs){
                left: 30px;
            }
        }
        .container {
            position: relative;
            @include animation-init();
            transition-delay: 200ms;
            .wrapper {
                .title {
                    align-items: center;
                    .small {
                        display: none;
                        margin-bottom: 20px;
                        flex-direction: row-reverse;
                        &::before {
                            width: 100%;
                            margin: 0;
                            margin-left: 40px;
                        }
                    }
                    @include media-breakpoint-down(xs){
                        .small {
                            display: flex;
                        }
                    }
                }
                .content {
                    position: relative;
                    margin: 10px 0;
                    padding: 10px;
                    padding-left: 80px;
                    @include media-breakpoint-down(xs){
                        padding: 10px 0;
                        .side-title {
                            display: none;
                        }
                    }
                }
            }
        }
        &.visible {
            .top, .container {
                @include animation-fire();
            }
        }
    }
    .section-3 {
        background: $white-1;
        .dots-bottom {
            position: absolute;
            bottom: 70px;
            left: calc(50% - 160px);
            @include media-breakpoint-down(xs){
                left: 30px;
            }
        }
        .container {
            .wrapper {
                .title {
                    display: flex;
                    align-items: center;
                    @include animation-init();
                    @include media-breakpoint-down(xs){
                        display: block;
                        .side-title {
                            flex-direction: row-reverse;
                            &::before {
                                width: 100%;
                                margin: 0;
                                margin-left: 40px;
                            }
                        }
                    }
                }
                .content {
                    position: relative;
                    margin: 10px 0;
                    padding: 10px 0;
                    @include animation-init();
                    transition-delay: 200ms;
                    .jumbo-dots.top {
                        position: absolute;
                        left: -160px;
                        top: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .slider {
            position: relative;
            margin-top: 40px;
            margin: 0 -15px;
            @include animation-init();
            transition-delay: 400ms;
            .slick-track {
                display: flex!important;
                margin-left: auto;
                margin-right: auto;
            }
            .slick-list {
                overflow: visible;
            }
            .slick-slide {
                height: inherit!important;
            }
            .column {
                margin: 10px 0;
                width: calc( (800px - 30px - 30px) / 2);
                max-width: 100%;
                padding: 15px;
                .bordered-box {
                    opacity: .3;
                }
                &.slick-active {
                    .bordered-box {
                        opacity: 1;
                    }
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            @include animation-init();
            transition-delay: 600ms;
            @include media-breakpoint-down(sm){
                display: block;
            }
            .left {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm){
                    justify-content: center;
                }
                .divider {
                    height: 2px;
                    width: 20px;
                    background: mix($black-1, transparent, 30);
                }
                button {
                    position: relative;
                    padding: 0;
                    margin: 0;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background: transparent;
                    &:nth-child(1){
                        transform: rotate(90deg);
                    }
                    &:nth-last-of-type(1){
                        transform: rotate(-90deg);
                    }
                    &::after, &::before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 2px;
                        top: calc(50% + 6px);
                        left: calc(50%);
                        transform: rotate(-45deg);
                        transform-origin: 0 50%;
                        background: $black-1;
                    }
                    &::before {
                        left: auto;
                        right: calc(50%);
                        transform: rotate(45deg);
                        transform-origin: 100% 50%;
                    }
                }
            }
            .right {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm){
                    padding-top: 40px;
                    justify-content: center;
                }
                a {
                    font-weight: bold;
                    text-decoration: underline;
                    margin: 0 10px;
                }
            }
        }
        .jumbo-dots {
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
        .arrow {
            background: $white;
        }
        &.visible {
            .container .wrapper .title,
            .container .wrapper .content,
            .slider,
            .bottom {
                @include animation-fire();
            }
        }
    }
    .section-4 {
        .container {
            .wrapper {
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include animation-init();
                    .jumbo-dots {
                        margin-right: 100px;
                    }
                }
                .content {
                    position: relative;
                    margin: 10px 0;
                    padding: 30px;
                    $border-size-content: 2px;
                    border: $border-size-content solid $black;
                    @include animation-init();
                    transition-delay: 200ms;
                    .side-title {
                        margin-top: -20px;
                        transform: translateX(calc(-50% - ( #{$border-size-content} / 2))) rotateX(180deg) rotateY(-180deg);
                        * {
                            padding: 20px 0;
                            flex-shrink: 0;
                            background: $white;
                        }
                        &::after {
                            content: none;
                        }
                    }
                    .list {
                        padding: 10px;
                        margin: 0;
                        @extend .clearfix;

                        li {
                            width: 48%;
                            float: left;
                            margin-bottom: 20px;

                            &:nth-of-type(even) {
                                float: right;
                            }

                            @include media-breakpoint-down(md){
                                width: 100%;
                                float: none;
                            }
                        }
                    }
                }
            }
        }
        .arrow {
            background: $pink;
        }
        &.visible {
            .container {
                .title, .content {
                    @include animation-fire();
                }
            }
        }
    }
    .section-5 {
        padding: 120px 0;
        background: $pink;
        .container {
            .wrapper {
                h2.title {
                    @include animation-init();
                }
                h4.title {
                    margin-top: 20px;
                    @include animation-init();
                    transition-delay: 300ms;
                }
                .content {
                    position: relative;
                    margin: 10px 0;
                    font-size: 16px;
                    @include animation-init();
                    transition-delay: 200ms;
                    .bottom {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        font-weight: 900;
                        span {
                            font-weight: 500;
                            a {
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                #the-content {
                    @include animation-init();
                    transition-delay: 400ms;
                    form .input label {
                        background: $pink;
                    }
                    .btn {
                        padding: 6px 0;
                        font-size: 18px;
                        font-weight: 900;
                        color: $black;
                        border-radius: 0;
                        border-bottom: 2px solid transparent;
                        background: transparent;
                        &:focus, &:hover {
                            border-color: $black;
                        }
                    }
                }
            }
        }
        &.visible {
            .container .wrapper {
                .title, .content, #the-content {
                    @include animation-fire();
                }
            }
        }
    }
}