#page-404 {
    background: $black;
    .section {
        display: flex;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        background: url('src/img/page-404.jpg') no-repeat center / cover;
        .container {
            display: flex;
            justify-content: center;
            padding-top: calc( #{$padding-top-content} + 100px);
            padding-bottom: 100px;
            .content {
                position: relative;
                padding: 40px 30px 70px 30px;
                color: $theme-color-white;
                .icon {
                    font-size: 90px;
                }
                .title {
                    padding: 0;
                    font-size: 50px;
                    font-weight: bold;
                }
                .message {
                    font-size: 16px;
                }
                .btn {
                    display: inline-block;
                    margin-top: 20px;
                    padding: 16px 26px;
                    font-size: 18px;
                    font-weight: normal;
                    background: mix($theme-color-white, transparent, 20);
                    @include media-breakpoint-down(xs){
                        padding: 16px 14px;
                        font-size: 16px;
                    }
                    svg {
                        margin-left: 10px;
                    }
                    &:hover,&:focus {
                        color: $theme-color-1;
                        background: $theme-color-white;
                    }
                }
            }
        }
    }
}