#single {
    .section-1 {
        position: relative;
        width: 100%;
        height: 300px + $navbar-height;
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        overflow-wrap: break-word;
        color: $white;
        background: $black;
        .container {
            position: relative;
            z-index: 3;
            span{
                color: $Lgray;
            }
        }
        .bg-jumbo-text {
            color: mix($black-1, transparent, 50);
        }
        &.has-thumbnail::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 2;
            background: mix($black, transparent, 60);
        }
    }
    .section-2 {
        padding: 80px 0;
    }
}