<div class="row form-contact">
    <div class="col-12 col-lg-6">
        <div class="input">
            <label> Adres </label>[text* adres] 
        </div>
        <div class="input">
            <label> Telefoon</label>[tel* telephone] 
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input">
            <label> Email </label>[email* adres] 
        </div>
        <div class="input">
            <label> Subject</label>[text* adres]
        </div>
    </div>
</div>
<div class="input">
    <label> Message</label>[textarea* vragen]
</div>
[submit class:btn "Send Message"]