.bg-jumbo-text {
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    word-break: break-all;
    font-size: 34vh;
    font-family: "opensans";
    font-weight: 900;
    line-height: .7;
    color: $black-1;
    @include media-breakpoint-down(lg){
        font-size: 26vh;
    }
    @include media-breakpoint-down(sm){
        display: none;
    }
}