
.bordered-box {
    height: 100%;
    padding: 10px 30px;
    transition: $transition-slider;
    border: 1px solid $black;
    .title {
        margin-top: 10px;
        font-size: 34px;
        font-weight: bold;
        line-height: 1;
    }
    .subtitle {
        font-size: 18px;
    }
    .content {
        padding: 10px 0;
        margin: 10px 0;
    }
}