.jumbo-dots {
    display: flex;
    align-items: baseline;
    font-weight: 900;
    font-size: 50px;
    line-height: 10px;
    &.smaller {
        font-size: 30px;
        line-height: 10px;
    }
}